div#hierarchical-search-results li.hierarchical-search-result a.no-match {
  color: #555;
  font-style: italic;
}

div.box h2.title {
  margin: 0 0 20px 0;
}

div#hierarchical-search-results li.hierarchical-search-result img.toggle {
  float: left;
  margin: 0 5px 0 0;
  width: 12px;
  height: 12px;
}


div#hierarchical-search-results li.hierarchical-search-result img.toggle-collapsed {
  background: #fff url('../images/icon_toggle_sprite.png') no-repeat 0 0;
}
div#hierarchical-search-results li.hierarchical-search-result img.toggle-expanded {
  background: #fff url('../images/icon_toggle_sprite.png') no-repeat -12px 0;
}
div#hierarchical-search-results li.hierarchical-search-result {
  list-style:none outside none;
  margin:20px 0 0;
  padding:0 0 0 20px;
  min-height: 50px;
}
div#hierarchical-search-results li.depth-0 {
  background-position:0 0;
  background-repeat:no-repeat;
  border-bottom:1px solid #D3D3D3;
  list-style:none outside none;
  margin:20px 0 0;
  padding:0 0 0 50px;
}

div#hierarchical-search-results li.depth-0 li.hierarchical-search-result div.result {
  border-left: 2px solid #D3D3D3;
  padding-left: 10px;
}

div#hierarchical-search-results li.hierarchical-search-result div.result {
  border-left: none;
  
}